._/tree/**
!._/tree/**/*.asm
!._/tree/**/*.sh
!._/tree/**/


*.js
*.mjs
*.cjs
/test
/dev
arch_output
build_output.asm
generate-jsinfo*
a.out
new/
*.txt
buildsaves.cfg
build/
result
*.json
.base_pool/
.router_locks/
.terminals/